<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width:300px;
      }
      h2 {
        text-align: center;
      }
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
        background-color: lightgray;
        border-radius: 25px;
        padding: 20px;
        width: 400px;
        height: 550px;
        margin-left:50px;
      }
      li {
        clear: both;
      }

      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color:red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }

    </style>
  </head>
  <body>
 
    
    <div class='lists-wrapper'>
      <h1>Todo Lists</h1>
      <form id="list-form" method="post" action="/todolists/create">
        <label for="todolist">Create List:</label>
        <input id="todolist-input" type="text" name="todolist" />
        <input type="submit" value="Create List" />
      </form>
      <div id="list-error" class="hidden">Something went wrong!</div>   


      <ul id="lists">
        {% for list in lists %}
           <li>
            <input class="check-completed" data-id="{{ list.id }}" type="checkbox" {% if list.completed %} checked {% endif %}>
             <a href="/lists/{{ list.id }}">{{ list.name }}</a> 
            <button class='delete-button' data-id="{{ list.id }}">&cross;</button>
            
            </li>
         {% endfor %}
       </ul>
    </div>


    <div class='todos-wrapper'>
      <h1>Todo Items</h1>
      <form id="todo-form" method="post" action="/todos/create">
        <input id="list_id" type="hidden" value="{{ active_list.id }}">
        <label for="description">Create Todo</label>
        <input id="description" type="text" name="description" />
        <input type="submit" value="Create Todo" />
      </form>
      <div id="todo-error" class="hidden">Something went wrong!</div>   
      <h2>{{ active_list.name }}</h2>

      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %}>{{ todo.description }}
          <button class='delete-button' data-id="{{ todo.id }}">&cross;</button>
        
        </li>
        {% endfor %}
      </ul>
    </div>

    <script>
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }

      const deleteBtns = document.querySelectorAll('.delete-button');
      for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function(e) {
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId, {
            method: 'DELETE'
          })
          .then(function() {
            const item = e.target.parentElement;
            item.remove();
          })
        }
      }


      document.getElementById('todo-form').onsubmit = function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value,
            'list_id': document.getElementById('list_id').value
        }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(response => response.json())
        .then(jsonResponse => {
          console.log('response', jsonResponse);
          li = document.createElement('li');
          li.innerText = desc;
          document.getElementById('todos').appendChild(li);
          document.getElementById('todo-error').className = 'hidden';
          console.log(document.getElementById('todo-error').className)
        })
        .catch(function() {
          document.getElementById('todo-error').className = '';
        })
      }

      document.getElementById('list-form').onsubmit = function (e) {
        e.preventDefault();

        fetch('/lists/create', {
            method: 'POST',
            body: JSON.stringify({
                'name': document.getElementById('todolist-input').value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (jsonResponse) {
            const liItem = document.createElement('LI');
            console.log(jsonResponse)
            liItem.innerHTML = jsonResponse['name'];
            document.getElementById('lists').appendChild(liItem);
            document.getElementById('list-error').className = 'hidden';
            window.location.reload(true);
        })
        .catch(function (err) {
            document.getElementById('list-error').className = '';
        })
      }







    </script>
  </body>
</html>